*{
    outline: none;
}
.flexbox{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.containers{
    z-index: 2;
    width: 360px;
    max-width: 100%;
    height: 500px;
    max-height: 95vh;
    background-color: rgb(80, 80, 80);
    margin:auto;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.form-join h3{
    font-size: 25px;
    border-bottom: 2px solid white;
    text-align: center;
    margin-bottom:  40px;
    color: rgb(255, 255, 255);
}
.form-join{
    width: 280px;
    max-width: 90%;
    position: absolute;
    top: 80px;
    left: 40px;
    transition: 0.5s;
}

.form-join input{
    padding: 10px 0px;
    margin:5px 0;
    width:100%;
    border: 0;
    border-bottom:  2px solid rgb(0, 157, 255);
    outline: none;
    background: transparent;
    color: white;
    font-size: 20px;
}
.form-join input::placeholder{
    color: rgba(255, 255, 255, 0.489);
    font-size: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.btn-box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
.form-join button{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #009dff, #06b4ff);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
}

#form2{
    left: 450px;
}
#form3{
    left: 450px;
}
.step-row{
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow:  0 -1px 5px -1px #000;
    position: relative;
}
.step-col{
    width: 120px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    position: relative;
}
#progress{
    position: absolute;
    height: 100%; 
    width: 120px;
    background: linear-gradient(to right, #d9d9d9, #ff7e06);
    transition: 1s;
}
#progress::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top:0;
    border-left: 20px solid #ff7e06;
}
.select{
    width: 100%;
    background-color : red;
    height: 30px;
}
.select select{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
}

@media only screen and (max-width: 468px) {
    .containers{
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 368px) {
    .containers{
        transform: scale(0.7);
    }
}