*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
    margin:0 0 1px 0;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(147, 147, 147, 0.538);
    user-select: none;
}
header::after{
    content:"";
    width: 100%;
    height: 120px;
    position: absolute;
    box-shadow: 0px 0px 20px 2px rgb(96, 92, 92);
    filter: blur(2px);
}

.icon{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.icon>img{
    height: 99%;
}
header>p{
    position: relative;
    width: 50%;
    color: rgb(255, 72, 0);
    text-shadow: 2px 2px 3px grey;
    font-size: 4vw;
    letter-spacing: 1.3px;
    font-style: normal;
    font-family: 'Martel',serif;
    text-align: left;
}


/* navigation open*/

/* The side navigation menu */
.sidenav {
    height: fit-content;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.3s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a ,.sidenav input {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.1s;
    
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 56px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* navigation closed*/

/* menu start */
.menu {
    text-align: center;
    margin-top: 20px;
    cursor: default;
}
.menu a{
    font-size: 18px;
    margin:0 8px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
}
.menu a:nth-child(4){
    color: white;
    background-color: rgb(255, 123, 0);
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 123, 0);
    border-radius: 4px;

}
.menu a:hover{
    color: #e08217;
}
.menu a:hover:nth-child(4){
    color: white;
    background-color: orange;
    border: 2px solid orange;
    
    
}
/* menu closed */
/*contact form start*/
/* Full-width input fields */
.container-form {
    padding: 16px;
}

.container-form input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Set a style for all buttons */
.container-form input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container-form input[type=submit]:hover {
    background-color: #45a049;
}



/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.62);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content-form {
    border-radius: 20px;
    background-color: #fefefe;
    position: relative;
    margin:0 auto 0 auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.btn-close {
    position: absolute;
    right: 25px;
    top: 10px;
    color: #000;
    font-size: 15px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/*contact form end*/



.carousel {
    margin:10px auto;
    width: 90%;
    height: 90%;
}

.peopleCarouselImg img {
    width: cover;
    height: cover;
}

@media only screen and (min-width:856px){
    .carousel {
        width: 80%;
        height: 90%;
    }
    .peopleCarouselImg img {
        width: fit-content;
        height: fit-content;
    }
    header>p {
        font-size: 5vw;
    }

}
@media only screen and (max-width:560px) {
   header>p{
       font-size:4vw;
   }
}

.prev, .next{
    font-size: 30px;
    color: rgb(0, 0, 0, 10);
}
.heading{
    width: 100%;
    text-align: center;
    margin: 50px 0 30px 0;
    color: rgb(255, 81, 0);
}

/*cards*/

.grid {
    position: relative;
    display: grid;
    grid-gap: 30px 10px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 10px auto;
}

.grid .box {
    justify-self: center;
    align-self: center;
    position: relative;
    margin: 5px 0px;
    width: 95%;
    height: 100%;
    background: #444444dc;
    border-radius: 5px;
}

.grid .box:hover {
    cursor:pointer;
}


.content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: relative;
    z-index: 2;

}

.content>img {
    width: 100%;
    height: 40vh;
    border-radius: 5px 5px 0 0;
}

.content>h1 {
    align-self: center;
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    margin: 10px 0 20px 0;
}

.content>p {
    padding:0 20px;
    color: rgb(255, 255, 255);
    font-size: 1em;
}

.content>a {
    align-self: flex-end;
    justify-self: flex-end;
    font-size: 1.1em;
    border-radius: 5px;
    padding: 5px 20px;
    color: antiquewhite;
    text-decoration: none;
    font-weight: 700;
}

.content>a:hover {
    color: #ffffff;
}

/*footer start*/
.fa {
    padding:20px;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    text-decoration: none;
    margin: 10px 5px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
    color:white;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
/*footer end*/
@media only screen and (max-width:575.5px) {
    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flex .box {
        width: 80%;
        padding-bottom: 30px;
        justify-self: center;
        align-self: center;
        margin: 20px;
    }
}
@media only screen and (min-width:1270px){
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .flex .box {
        width: 80%;
        height: 100%;
        padding-bottom: 30px;
        justify-self: center;
        align-self: center;
        margin: 20px;
    }
    
}